body {
    background-image: url("Pictures/bg.jpg");
}

@font-face {
    font-family: kaffe;
    src: url(YanoneKaffeesatz-Regular.otf);
    }
    @font-face {
    font-family: kaffethin;
    src: url(YanoneKaffeesatz-Thin.otf);
}
@font-face {
    font-family: kaffelight;
    src: url(YanoneKaffeesatz-Light.otf);
}
@font-face {
    font-family: kaffebold;
    src: url(YanoneKaffeesatz-Bold.otf);

}

h1 {
    font-family: kaffe;
    margin: auto;
	width: 60%;
	

}
.boxed {
  background-color: #0f1a26;
  color:white;
  font: 12px kaffethin, sans-serif;
    position: fixed;
    bottom: 10%;
    right: 85%;
    width: 100px;
    height: 150px;


}

.cover{
	width:100%; 
	
	
}

}

p{
	font: 11px, kaffethin, sans-serif;
	margin: auto;
	width: 60%;
	

}

	
.nav{
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    width: 100%;
    background-color:#0f1a26; 
    font: 24px kaffethin, sans-serif;
    text-transform: uppercase;


    
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}
    
a:link {
    color: #ffffff;
        text-decoration: none;

}

a:visited {
    color: #ffffff;
}




a:hover {
    color: #f48616;
        text-decoration: none;

}


img  {
    float: right;
    

}


p {
    font: 15px verdana, sans-serif;
	margin: auto;
	width: 60%
	
}