body {
    background-image: url("Pictures/bg.jpg");
}

@font-face {
    font-family: kaffe;
    src: url(YanoneKaffeesatz-Regular.otf);
    }
    @font-face {
    font-family: kaffethin;
    src: url(YanoneKaffeesatz-Thin.otf);
}
@font-face {
    font-family: kaffelight;
    src: url(YanoneKaffeesatz-Light.otf);
}
@font-face {
    font-family: kaffebold;
    src: url(YanoneKaffeesatz-Bold.otf);

}

h1 {
    font-family: kaffe;
    margin: auto;
	width: 60%;
	

}
.infobox {
  background-color: #0f1a26;
  color:white;
  font: 22px kaffethin, sans-serif;
    position: fixed;
    bottom: 25%;
    right: 85%;
    width: 175px;
    height: 225px;
    border-radius: 25px;
	box-shadow: 0px 0px 10px #888888;
	text-transform: uppercase;



}


    .video{
    margin: 0 300px 0 200px;
	
    }



.cover{
	width:100%; 
	
	
}

}

p{
	font: 11px, kaffethin, sans-serif;
	margin: auto;
	width: 60%;
	text-align: justify;
    text-indent: 5em;
	float:left;

}

	
.menu{
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    width: 100%;
    background-color:#0f1a26; 
    font: 24px kaffethin, sans-serif;
    text-transform: uppercase;
    



}
.infobox ul{
	margin-top: 20px;
    margin-left: -30px;
}


.infobox li{
    display:inline;
}
.infobox a{
    display:inline-block;
    
}

.menu li{
    display:inline;
}
.menu a{
    display:inline-block;
    padding:10px;
}
    
a:link {
    color: #ffffff;
        text-decoration: none;

}

a:visited {
    color: #ffffff;
}





a:hover {
    color: #f48616;
        text-decoration: none;

}


img  {
    float: right;
    

}


p {
    font: 15px verdana, sans-serif;
	margin: auto;
	width: 60%
	
}

.footer{
	margin: auto;
	position:absolute;
	top 100%;
	bottom: 0;
    list-style:none;
    text-align:center;
    width: 99%;
    background-color:#0f1a26; 
    font: 12px kaffethin, sans-serif;
    text-transform: uppercase;
    color: white;
    opacity: 0.4;


	}
.footer p{
    font: 18px kaffethin, sans-serif;
    text-transform: uppercase;
    color: white;

	}