body {
    background-image: url("/Users/simonottosen/BIS-VU/Pictures/bg.jpg");
}

@font-face {
    font-family: kaffe;
    src: url(YanoneKaffeesatz-Regular.otf);
    }
    @font-face {
    font-family: kaffethin;
    src: url(YanoneKaffeesatz-Thin.otf);
}
@font-face {
    font-family: kaffelight;
    src: url(YanoneKaffeesatz-Light.otf);
}
@font-face {
    font-family: kaffebold;
    src: url(YanoneKaffeesatz-Bold.otf);

}

h1 {
    font-family: kaffe;
    margin: auto;
	width: 60%;
	

}
.boxed {
  background-color: #0f1a26;
  color:white;
  font: 12px kaffethin, sans-serif;
    position: fixed;
    bottom: 10%;
    right: 85%;
    width: 100px;
    height: 150px;


}


p{
	font: 11px, kaffethin, sans-serif;
	margin: auto;
	width: 60%;
	

}

table, tr, td{
	background-color:#0f1a26;
	font: 24px kaffethin, sans-serif;
	color:#f48616;
	margin:auto;
	
}

img  {
    float: right;

}


p {
    font: 15px verdana, sans-serif;
	margin: auto;
	width: 60%
	
}